name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 7 * * *'

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: Download Valhalla JDK
      run: |
        wget https://builds.shipilev.net/openjdk-jdk-valhalla/openjdk-jdk-valhalla-linux-x86_64-server.tar.xz
        unxz openjdk-jdk-valhalla-linux-x86_64-server.tar.xz
        gzip openjdk-jdk-valhalla-linux-x86_64-server.tar
    - uses: actions/setup-java@v4
      with:
        distribution: 'jdkfile'
        jdkFile: openjdk-jdk-valhalla-linux-x86_64-server.tar.gz
        java-version: '27.0.0'
        architecture: x64
    - name: Build with Maven
      run: |
        mvn --version
        mvn -B package --file pom.xml
